<!DOCTYPE html>
<html lang="en"  >
	<head>
	<title> Document  </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 	
	<link rel="stylesheet" href="vendor/bootstrap.css">
	<link rel="stylesheet" href="vendor/angular-material.min.css">
	<link rel="stylesheet" href="vendor/font-awesome.css">
 	<link rel="stylesheet" href="1.css">
</head>
<body ng-app="myApp">

	<div class="jumbotron" ng-controller="MyController">
		<div class="container">
			<p>
				<div layout="row" layout-align="space-around">
			      <div style="width:50px"></div>
			      <md-button ng-click="showSimpleToast()">
			        Show Simple
			      </md-button>
			    </div>
			</p>
			<p>
				<div class="card" ng-repeat="member in members" ng-init="member.display=true">
					<div class="card-header">
						<b class="float-xs-right" ng-click="show(member);"><i class="fa fa-pencil"></i></b>
					</div>

					<div class="card-block">
						<ul ng-show="member.display">
							<li>Name : {{ member.name }}</li>
							<li>Phone(home) : {{ member.phone.home_phone }}</li>
							<li>Phone(personal) : {{ member.phone.personal_phone }}</li>
							<li>Sex : {{ member.sex }}</li>
						</ul>

						<ul ng-show="!member.display">
							<li><input type="text" class="form-control" ng-model="member.name"></li>
							<li><input type="text" class="form-control" ng-model="member.phone.home_phone"></li>
							<li><input type="text" class="form-control" ng-model="member.phone.personal_phone"></li>
							<li><input type="text" class="form-control" ng-model="member.sex"></li>
							<li><input type="submit" class="form-control btn btn-primary" value="OK" ng-click="show(member);"></li>
						</ul>
					</div>
				</div>	
			</p>
		</div>
	</div>	 
	 
	<script type="text/javascript" src="vendor/bootstrap.js"></script>  
	<script type="text/javascript" src="vendor/angular-1.5.min.js"></script>  
  	<script type="text/javascript" src="vendor/angular-animate.min.js"></script>
  	<script type="text/javascript" src="vendor/angular-aria.min.js"></script>
 	<script type="text/javascript" src="vendor/angular-messages.min.js"></script>
 	<script type="text/javascript" src="vendor/angular-material.min.js"></script>  
  	<script type="text/javascript" src="1.js"></script>
</body>
</html>