<!DOCTYPE html>
<html lang="en"  >
	<head>
	<title> Document  </title>
	<meta charset="utf-8">
	  <!--
	    IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
	    For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
	  -->
	  <!--[if lt IE 9]>
	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
	    <script>
	      document.createElement('ui-select');
	      document.createElement('ui-select-match');
	      document.createElement('ui-select-choices');
	    </script>
	  <![endif]-->

	<meta name="viewport" content="width=device-width, initial-scale=1"> 	
	<link rel="stylesheet" href="vendor/bootstrap.css">
	<link rel="stylesheet" href="vendor/angular-material.min.css">
	<link rel="stylesheet" href="vendor/font-awesome.css">
	<link rel="stylesheet" href="vendor/select.css">
 	<link rel="stylesheet" href="1.css">
</head>
<body ng-app="myApp" ng-controller="MyController">

	<ui-select ng-model="selected.value">
	    <ui-select-match>
	        <span ng-bind="$select.selected.name"></span>
	    </ui-select-match>
	    <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
	        <span ng-bind="item.name"></span>
	    </ui-select-choices>
	</ui-select>
	<button class="btn btn-primary" ng-click="getdata();">Save</button>

	<script type="text/javascript" src="vendor/angular-1.5.min.js"></script>
	<script type="text/javascript" src="1.js"></script>
	<script type="text/javascript" src="vendor/bootstrap.js"></script>  
	<script type="text/javascript" src="vendor/select.js"></script>  
	<script type="text/javascript" src="vendor/angular-sanitize.js"></script> 

  	<script type="text/javascript" src="vendor/angular-animate.min.js"></script>
  	<script type="text/javascript" src="vendor/angular-aria.min.js"></script>
 	<script type="text/javascript" src="vendor/angular-messages.min.js"></script>
 	<script type="text/javascript" src="vendor/angular-material.min.js"></script>  
 	<script type="text/javascript" src="vendor/angular-route.min.js"></script>  
</body>
</html>